/* Page layout + gradient */
.favorites-page {
    background: #ff7700;
    background: linear-gradient(0deg, rgba(000,000,0,1) 0%, rgba(255,119,0,1) 100%);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4rem;
}

/* Content width */
.favorites-content {
    width: 60%;
    max-width: 800px;
    color: white;
}
