.hero-section {
    background: #ff7700;
    background: linear-gradient(0deg,rgba(255, 119, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4rem;
}

.hero-left {
    width: 50%;
}

.hero-right {
    width: 35%;
}